@font-face {
    font-family: Orkney;
    src: local('Orkney'), url(/static/Orkney_Regular.ttf) format('truetype');
}

:focus {
    outline: none;
}

:root {
    --bg-background-primary:white;
    --bg-background-secondry:grey;
    --bg-background-ternary:blue;
    --accent-color:blue
}